:root {
    --green1: #5FE19B;
    --green2: #36B972;
    --green3: #0EA152;
    --white: #ffffff;
    --whiteboard: #E5E5E5;
    --grey: #515151;
    --fair-grey2: #939393;
    --black-gradient: rgba(255,255,255, 0);
    --dark-grey: #3D3D3D; 
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: exo;
    font-size: 15px;
    margin:0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--whiteboard); 
    /* overflow-y: hidden;  */
}

html {
    width: 100%;
}
    
main {
    height: 100vh;
    padding: 0 34px;
}

.container-main {
    display:flex;
    padding-top: 31px;
    align-items: flex-start;
}

.container-single {
    display:none;
    margin-left: 220px;
    flex-direction: column;
    gap: 24px;
}

/*---------------Header---------------*/

header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(var(--green1), var(--green2), var(--green3));
    height: 94px;
    box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}

.logo {
    align-self: center;
    margin-left: 39px;
}

.search-bar {
    position: relative;
    align-self: center;
    margin-right: 120px;
}    

.search-bar img {
    position:absolute;
    width: 18px;
    height: 18px;
    top:15px;
    margin-left: 11px;
}

.search-games {
    width: 362px;
    height: 47px;
    border-radius: 4px;
    border-style: none;
    padding-left: 41px;
}

.side {
    display: flex;
    gap: 16px;
    margin-right: 40px;
}

.log-out {
    text-decoration: none;
    color: var(--white);
    align-self: center;
}


.avatar-user {
   align-self: center;
}

/*---------------Title and mode---------------*/

.title {
    display: flex;
    flex-direction: column;
    padding-top:19px;
}

.title h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--grey);
    
}

.title h2 {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey);
}


.container-title-mode {
    display:flex;
    justify-content: space-between;
}

.mode {
    padding-top: 24px;
}

.dark-mode {
    display:flex;
    gap:13px;
}

.thumbnail {
    display:flex;
    gap:24px;
    padding-top: 28px;
    justify-content: end;
}

.dark-mode h3{
    font-size: 15px;
    color: var(--grey);
}

img.column-active, img.one-card-inactive {
    cursor: pointer;
}


/*---------------Sidebar---------------*/

nav {
    margin-right: 55px;
    min-width: 163px;
}

.links-navbar, .links-time, .links-popular {
    display:flex;
    flex-direction: column;
}
.links-navbar {
    font-weight: 700;
    gap: 10px;
}

.links-home {
    color: var(--green2);
    font-size:20px;
}

.links-dark {
    color: var(--grey);
    font-size:20px;
}

.links-time {
    margin-top: 37px;
    gap: 16px;
}

.links-time a, .links-popular2 a {
    color: var(--grey);
}


.links-time a {
    font-size:18px;
}

.links-popular2, .links-time2 {
    display: flex;
    gap: 11px;
}

.links-popular {
    margin-top: 55px;
}


.links-popular h2 {
    margin-bottom: 18px;
    color: var(--grey);
    font-size: 22px;
    font-weight: 700;
}

.links-popular a {
    font-size:18px;
}

.links-popular2 {
    margin-bottom: 10px;
}

.icon-navbar {
    color: var(--green2);
}


/*---------------Game Cards---------------*/
.single-card {
    display:none;
}


.container-cards {
    display: flex;
    flex-flow: wrap;
    gap: 24px;
    justify-content: flex-end;
    flex: 1;
}


article {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: var(--white);
    box-shadow: 0px 0px 7px rgba(106, 106, 106, 0.25);
}


.heart-icon {
    position: absolute;
    right: 0;
    margin: 15px;
}

.game-title {
    font-weight: 700;
    display:flex;
    justify-content: space-between;
    font-size: 24px;
}

.game-title h2 {
    font-size: 24px;
    color: var(--grey);
    align-self:center;
}

.game-title h3 {
    font-size: 18px;
    color: var(--green2);
    align-self:center;
}

.game-information {
    padding: 16px 16px 10px 16px;
    
}

.game-devices-icon {
    display:flex;
    justify-content: flex-end;
}

.game-devices-icon .xbox-icon, .windows-icon {
    margin-left:16px;
}

.game-ph img {
    border-radius: 12px 12px 0px 0px;
    display: block;
}

.container-game-info {
    display:flex;
    margin-top: 14px;
    justify-content: space-between;
}

.single-game-info {
    max-width: 205px;
}

.single-game-info-release, .single-game-info-genres {
    display:flex;
}

.single-game-info-release {
    gap: 25px;
}

.single-game-info-genres {
    gap: 61px;
    margin-top:10px;
}

.single-game-info-title {
    color: var(--fair-grey2);
    font-size: 14px;
}

.single-game-info-plus {
    font-size: 14px;
    color: var(--grey);
}

img.playstation-icon, img.xbox-icon, img.windows-icon, img.icon {
    height: 20px;
}


/*-----------Single card------------*/

.single-card {
    max-width: 697px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: var(--white);
    box-shadow: 0px 0px 7px rgba(106, 106, 106, 0.25);
}


.heart-icon-sc {
    position: absolute;
    right: 0;
    margin: 25px;
}

img.heart-icon-sc {
    width: 27px;
    height: 25px;
}

.game-title-sc {
    font-weight: 700;
    display:flex;
    justify-content: space-between;
    font-size: 32px;
}

.game-title-sc h2 {
    font-size: 32px;
    color: var(--grey);
    align-self:center;
}

.game-title-sc h3 {
    font-size: 24px;
    color: var(--green2);
    align-self:center;
}

.game-information-sc {
    padding: 16px 16px 10px 16px;
    
}

.game-devices-icon-sc {
    margin-left: auto;
}

.game-devices-icon-sc .xbox-icon-sc, .windows-icon-sc {
    margin-left:16px;
}

.game-ph-sc img {
    border-radius: 12px 12px 0px 0px;
    display: block;
}

.container-game-info-sc {
    margin-top: 14px;
}

.single-game-info-sc {
   display:flex;
   gap: 25px;
}

.single-game-info-release-sc, .single-game-info-genres-sc {
    display:flex;
}

.single-game-info-release-sc {
    gap: 13px;
}

.single-game-info-genres-sc {
  gap: 7px;
}

.single-game-info-title-sc {
    color: var(--fair-grey2);
    font-size: 14px;
}

.single-game-info-plus-sc {
    font-size: 14px;
    color: var(--grey);
}

img.playstation-icon-sc, img.xbox-icon-sc, img.windows-icon-sc, img.icon-sc {
    height: 20px;
}

.game-description-sc {
    font-size: 14px;
    padding-bottom: 20px;
}

.game-description-sc p {
    margin-top: 19px;
    font-weight: 500;
}

/*Bottom effect*/

/* .ol {
    border: 1px #d8d8d8 dashed;
  }
  
.ol:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, var(--black-gradient), var(--white) 90%);
    width: 100%;
    height: 4em;
  } */

/* .container-games-list {
    width: 100%;
    height: 50%;
    position: relative;
    z-index: 1;
}

.games-list {
    display:flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(140, 140, 140, 0.25);
    border-radius: 4px;
    width: 100%;
    position: absolute;
    top: 9px;
}

.games-list ul {
    background-color: var(--white);
    box-shadow: 0px 0px 4px rgba(140, 140, 140, 0.25);
    border-radius: 4px; 
    padding: 10px 8px 10px 14px;
}

hr {
    border-bottom: 0.5px solid #E1E1E4;
}

.games-list li {
    height: 32px;
    list-style-type: none;
    font-size: 15px;
    color: var(--dark-grey);
} */