* {
    box-sizing: border-box;
    font-family: exo;
}


:root {
    --green: #4CC986;
    --secondary-green: #36B972;
    --white: #ffffff;
    --grey: #515151;
    --fair-grey: #8F8F8F;
    --dark-grey: #3D3D3D;
    --whiteboard: #F0F0F0;
}


html {
    height: 100%;
    margin: 0;
   
}

body {
   background-image: url("../assets/background.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; 
    background-attachment: fixed;
    
} 

main {
    display:block;
}

.slide1 {
    margin: 32px;
}

.slide2 {
    padding-left:25px;
    padding-right: 10px;
}

.slide1, .slide2 {
    cursor: pointer;
}

/*-------------Header-------------*/

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 115px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

header img {
    width: 293.54px;
    height: 37.46px;
    margin-left: 53.23px;
}


/*-------------Login-------------*/

.auth-page-container {
    display:flex;
    justify-content: space-between;
    margin-top: 63px;
    margin-right: 5px;
    align-items: center;
}

.auth-page-card {
    background: var(--whiteboard);
    border-radius: 12px;
    padding: 25px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
}

.container-words {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--grey);
    margin-bottom:8px;
}

.login {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom:32px;
}

.auth-page-form {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.input-box-username, .input-box-password {
    position: relative;
}

img.toggle-password {
    position: absolute;
    right:3px;
    top: 15px;
    margin-right: 7px;
    color: var(--green);
    cursor: pointer;
}

.form-container {
    margin-bottom: 14px;
}

.input-email, .input-password {
    width: 100%;
    background-color: var(--white);
    height: 47px;
    border-style: none;
    padding: 15px;
    border-radius: 4px;
    font-size: 15px;
}


input[type='password'] {
    color: var(--dark-grey);

}

.input-box-side {
    display: flex;
    font-size: 0.87rem;
    margin-bottom: 24px;
}

.input-box-remember-me {
    display:flex;
    align-items: center;
    gap: 16px;
}

.label-remember-me {
    font-size: 14px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    color: var(--fair-grey);
    border: 1.5px solid var(--fair-grey);
    border-radius: 4px;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-color: var(--secondary-green);
    background-image: url("../assets/icons-login/Tick.png");
    background-repeat: no-repeat;
    background-position: center;
} 

.forgot-password {
    color: var(--green);
    margin-left:115px;
    font-size: 14px;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration:underline;
}

.login-button {
    height: 47px;
    font-size: 1.12rem;
    font-weight: 700;
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    border-style: none;
    border-radius: 6px;
    margin-bottom: 32px;
}

.registration {
    display: flex;
    align-self:center;
    margin-bottom: 24px;
}

.registration-none {
    font-size: 14px;
    font-weight: 400;
    margin-right: 7px;
}

.registration-now {
    font-size: 14px;
    font-weight: 600;
    color: var(--secondary-green);
    cursor: pointer;
    text-decoration: none;
}

.registration-now:hover {
    text-decoration: underline;
}

.line {
    display: flex;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: var(--grey);
    align-self: center;
    margin-bottom: 29.29px;
    gap: 10px;
}
  
.line:before, .line:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid var(--grey);
    margin: auto;
}

.line:before {
    margin-right: 10px;
}

.line:after {
    margin-left: 10px;
}

.social-media-list {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 24px;
}

.social-button1, .social-button2, .social-button3 {
    display: flex;
    position: relative;
    justify-content: center;
    color: var(--secondary-green);
    border-color: var(--secondary-green);
    height: 47px;
    font-size: 1.12rem;
    border-radius: 6px;
    border: 2px solid var(--secondary-green);
    gap: 15px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}


.social-button2, .social-button3 {
    min-width: 50px;
}

.social-tittle, .social-button1 img, .social-button2 img, .social-button3 img {
    align-self: center;
}

a img {
    position: absolute;
    left: 60px;
}


.carrousel {
    display:flex;
    justify-content: center;
    margin: 80px;
    cursor: pointer;
}

/*--------------Media Queries ---------------- */

/*Responsive Tablet*/

@media (max-width: 768px){
    header {
        display: flex;
        justify-content: center;
    }

    header img {
        align-self: center;
        margin:0;
    }

    .auth-page-card {
        margin:0;
        margin-right: 35px;
    }

    .carrousel {
        margin-top:65px;
    }

    .slide1 {
        margin-bottom:65px;
    }

    .slide2 {
        margin-right: 8px;
        margin-bottom:25px;
    }
}

/*Responsive Mobile */
/* @media (max-width: 320px) {

    header img {
        width: 194.17px;
        height: 25px;
    }

    .auth-page-container {
        display:flex;
        justify-content: center;
        margin:0;
    }

    .auth-page-card {
        padding: 40px 30px;
        height: 689px;
    }

    .container-words {
     display: flex;   
    }

    .login {
        display: flex;
    }

    .slide1 {
        display: none;
    }

    .slide2 {
        display: none;
    }

    .carrousel {
        display: none;
    }

    .input-email, .input-password {
        width: 288px;
        height: 47px;
        margin-left:35px;
    
    }

} */
