* {
    box-sizing: border-box;
    font-family: exo;
}


:root {
    --green: #4CC986;
    --secondary-green: #36B972;
    --white: #ffffff;
    --light-grey:  #E1E1E4;
    --grey: #515151;
    --fair-grey: #8F8F8F;
    --dark-grey: #3D3D3D;
    --whiteboard: #F0F0F0;
    --red: #ff0000;
    --header-color: #ffffff4d;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: var(--whiteboard);
}

.tooltip .tiptext {
    visibility: hidden;
    width: 150px;
    background-color: var(--green);
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tooltip:hover .tiptext {
    visibility: visible;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../assets/background-1.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; 
    background-attachment: fixed;
} 

.active {
    cursor: pointer;
    display: flex;
    background-color: var(--grey);
    opacity: 100%;
    width: 7px;
    height: 7px;
    border-radius: 50%
}

.carrousel-dot-1, .carrousel-dot-2, .carrousel-dot-3, .carrousel-dot-4, .carrousel-dot-5, .carrousel-dot-6 {
    cursor: pointer;
    display: flex;
    opacity: 25%;
    background-color: var(--grey);
    width: 7px;
    height: 7px;
    border-radius: 50%
}


main {
    display:block;
}

.slide1 {
    margin: 32px;
}

.slide2 {
    padding-left:25px;
    padding-right: 20px;
}

.slide1, .slide2 {
    cursor: pointer;
}

/*-------------Header-------------*/

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 115px;
    background: var(--header-color);
    backdrop-filter: blur(8px);
}

header img {
    width: 293.54px;
    height: 37.46px;
    margin-left: 53.23px;
}

/*-------------Login-------------*/

.auth-page-container {
    display:flex;
    justify-content: space-between;
    margin-top: 63px;
    margin-right: 5px;
    align-items: center;
}

.auth-page-card {
    background: var(--whiteboard);
    border-radius: 12px;
    padding: 25px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
}

.container-words {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--grey);
    margin-bottom:8px;
}

.login {
    font-weight: 400;
    line-height: 21px;
    margin-bottom:32px;
}

.auth-page-form {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.input-box-username, .input-box-password {
    position: relative;
}

img.toggle-password {
    position: absolute;
    right:3px;
    top: 15px;
    margin-right: 7px;
    color: var(--green);
    cursor: pointer;
}

.form-container {
    margin-bottom: 14px;
}

.input-email, .input-password {
    width: 100%;
    background-color: var(--white);
    height: 47px;
    border-style: none;
    padding: 15px;
    border-radius: 4px;
    font-size: 15px;
}


input[type='password'] {
    color: var(--dark-grey);

}

.input-box-side {
    display: flex;
    font-size: 0.87rem;
    margin-bottom: 24px;
}

.input-box-remember-me {
    display:flex;
    align-items: center;
    gap: 16px;
}

.label-remember-me {
    font-size: 0.875rem;
}

#error-container {
    color: var(--red);
    font-weight: 600;
}

input[type=checkbox] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    color: var(--fair-grey);
    border: 1.5px solid var(--fair-grey);
    border-radius: 4px;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-color: var(--secondary-green);
    background-image: url("../assets/icons-login/Tick.png");
    background-repeat: no-repeat;
    background-position: center;
} 

.forgot-password {
    color: var(--green);
    margin-left:115px;
    font-size: 0.875rem;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration:underline;
}

.login-button {
    height: 47px;
    font-size: 1.12rem;
    font-weight: 700;
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    border-style: none;
    border-radius: 6px;
    margin-bottom: 32px;
}

.registration {
    display: flex;
    align-self:center;
    margin-bottom: 24px;
}

.registration-none {
    font-size: 0.875rem;
    font-weight: 400;
    margin-right: 7px;
}

.registration-now {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--secondary-green);
    cursor: pointer;
    text-decoration: none;
}

.registration-now:hover {
    text-decoration: underline;
}

.line {
    display: flex;
    width: 100%;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    color: var(--grey);
    align-self: center;
    margin-bottom: 29.29px;
    gap: 10px;
}
  
.line:before, .line:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid var(--grey);
    margin: auto;
}

.line:before {
    margin-right: 10px;
}

.line:after {
    margin-left: 10px;
}

.social-media-list {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 24px;
}

.social-button1, .social-button2, .social-button3 {
    display: flex;
    position: relative;
    justify-content: center;
    color: var(--secondary-green);
    border-color: var(--secondary-green);
    height: 47px;
    font-size: 1.12rem;
    border-radius: 6px;
    border: 2px solid var(--secondary-green);
    gap: 15px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}


.social-button2, .social-button3 {
    min-width: 50px;
}

.social-tittle, .social-button1 img, .social-button2 img, .social-button3 img {
    align-self: center;
}

a img {
    position: absolute;
    left: 60px;
}

.container-carrousel {
    display:flex;
    justify-content: center;
}

.carrousel {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 27px;
    background-color: var(--light-grey);
    border-radius: 18px;
    padding-left:13px;
    margin-top:70px;
}

/*--------------Media Queries ---------------- */

/*Responsive Tablet*/

@media (max-width: 820px){
    header {
        display: flex;
        justify-content: center;
    }

    header img {
        align-self: center;
        margin:0;
    }

    .auth-page-card {
        margin:0;
    }

    .carrousel {
        margin-top:65px;
    }

    .slide1 {
        margin-bottom:65px;
    }

    .slide2 {
        margin-right: 8px;
        margin-bottom:25px;
    }
}

/*Responsive Mobile */
@media (max-width: 420px) {
    
    body {
        overflow-x: hidden;
    }

    header {
        height: 78px;
    }

    header img {
        width: 194.17px;
        height: 25px;
    }

    .slide1, .slide2, .carrousel {
        display: none;
    }

    .auth-page-container {
        width: 100%;
        margin-top:0px;
    }

    .auth-page-card {
        width: 100%;
        border-radius: 12px 12px 0px 0px;
        padding: 22px 10px 62px 10px;
        margin-right: 0px;
    }

    .input-password, .input-email {
        width: 100%;
    }

    .welcome {
        margin-bottom: 16px;
    }

    .login {
        text-align: center;
    }

    .forgot-password {
        margin-left: 30px;
    }

    .input-box-remember-me {
        gap: 10px;
    }

    .social-button1, .social-button2, .social-button3 {
        font-size: 14px;
    }

    a img {
        left: 45px;
    }

}
